<footer class="bg-footer-grey-darker text-footer-grey-light px-4 font-inter mt-5">
  <div class="container flex flex-col lg:flex-row mx-auto py-10">
    <div class="mr-3">
      <div class="flex flex-col lg:flex-row">
        <div class="mr-3 w-full lg:w-1/2 mb-12">
          <h3 class="uppercase tracking-wide font-thin border-footer-grey border-b pb-3 mb-6">
            Dirección Física
          </h3>
          <p>
            <i class="huge map marker alternate icon float-left text-footer-grey"></i>
            Carretera #2, Km. 80.4,
            <br />
            Barrio San Daniel,
            <br />
            Sector Las Canelas, Arecibo
            <br />
          </p>
          <br />
          <div>
            <a class="text-footer-grey-dark hover:text-footer-grey-light" href="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=109550270533398091930.00044bee5a490f47fdd65&amp;ll=18.47852,-66.767529&amp;spn=0.01504,0.023866&amp;source=embed"
              target="_blank" rel="noopener">
              Mapa en Google
            </a>
            |
            <a class="text-footer-grey-dark hover:text-footer-grey-light" href="https://www.google.com/maps/place/18%C2%B028'26.5%22N+66%C2%B045'33.2%22W/@18.4694494,-66.759796,851a,35y,39.2t/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d18.474028!4d-66.759222"
              target="_blank" rel="noopener">
              18.474028, -66.759222
            </a>
          </div>
        </div>
        <div class="w-full lg:w-1/2 mb-12">
          <h3 class="uppercase tracking-wide font-thin border-footer-grey border-b pb-3 mb-6">teléfonos</h3>
          <p>
            <i class="huge phone icon float-left text-footer-grey"></i>
            Cuadro: 1-(787)-878-5475 | 878-5472
            <br />
            Gerencia de Matrícula: Ext. 3250
            <br />
            Admisiones: 1-(787)-878-5195
            <br />
            Fax: 1-(787)-880-1624
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row">
        <div class="mr-3 w-full lg:w-1/2 mb-12">
          <h3 class="uppercase tracking-wide font-thin border-footer-grey border-b pb-3 mb-6">
            Dirección postal
          </h3>
          <p>
            <i class="huge envelope icon float-left text-footer-grey"></i>
            PO Box 4050, Arecibo
            <br />
            Puerto Rico 00614-4050
          </p>
        </div>
        <div class="w-full lg:w-1/2 mb-12">
          <h3 class="uppercase tracking-wide font-thin border-footer-grey border-b pb-3 mb-6">Encuéntranos</h3>
          <div>
            <a href="https://www.facebook.com/pg/ARECIBOINTER/posts/" class="text-footer-grey no-underline hover:text-blue-dark">
              <i class="big facebook icon"></i>
            </a>
            <a href="https://twitter.com/interarecibo60" class="text-footer-grey no-underline hover:text-blue-light">
              <i class="big twitter square icon"></i>
            </a>
            <a href="https://www.instagram.com/interarecibo/" class="text-footer-grey no-underline hover:text-purple-dark">
              <i class="big instagram icon"></i>
            </a>
            <a href="https://www.flickr.com/photos/interarecibo/" class="text-footer-grey no-underline hover:text-pink-dark">
              <i class="big flickr icon"></i>
            </a>
            <a href="https://www.youtube.com/user/ARECIBOINTERTV" class="text-footer-grey no-underline hover:text-red-dark">
              <i class="big youtube icon"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div>
      <h3 class="uppercase tracking-wide font-thin border-footer-grey border-b pb-3 mb-6">
        ACREDITACIONES Y CONSORCIOS
      </h3>
      <div class="black-white-transition">
        <img src="http://www.arecibo.inter.edu/wp-content/uploads/2018/02/accreditations.png" usemap="#accreditations"
          width="338" height="240" name="accreditations0" border="0" alt="">

        <map name="accreditations">
          <area coords="0,0,113,59" shape="rect" href="https://www.msche.org/institution/0009/" target="_blank" alt="MSCHE">
          <area coords="114,0,227,59" shape="rect" href="https://www.coacrna.org/Pages/default.aspx" target="_blank"
            alt="COA">
          <area coords="228,0,338,59" shape="rect" href="http://www.acenursing.org/" target="_blank" alt="ACEN">
          <area coords="0,61,113,120" shape="rect" href="http://www.cswe.org/" target="_blank" alt="CSWE">
          <area coords="114,61,227,120" shape="rect" href="http://www.caepnet.org/" target="_blank" alt="CAEP">
          <area coords="228,61,338,120" shape="rect" href="http://www.iacet.org/" target="_blank" alt="IACET">
          <area coords="0,121,113,180" shape="rect" href="http://www.acenet.edu/news-room/Pages/ACE-Internationalization-Laboratory.aspx"
            target="_blank" alt="ACE">
          <area coords="114,121,227,180" shape="rect" href="https://www.ehu.eus/es/web/nazioarteko-harremanak/2017-international-credit-mobility-project"
            target="_blank" alt="UPV">
          <area coords="228,121,338,180" shape="rect" href="http://www.universia.pr/" target="_blank" alt="UNIVERSIA">
          <area coords="114,182,227,240" shape="rect" href="http://www.hets.org/" target="_blank" alt="HETS">
          <area coords="0,182,113,239" shape="rect" href="http://www.hacu.net/" target="_blank" alt="HACU">
          <area coords="228,182,338,240" shape="rect" href="http://hets.org/virtualplaza/" target="_blank" alt="HETS VP">
        </map>
      </div>
    </div>
  </div>
  <hr class="border-b border-footer-grey">
  <div class="container flex mx-auto pt-10 flex-wrap">
    <div class="flex flex-wrap mx-auto">
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="http://www.arecibo.inter.edu/mapa-del-recinto/">
          Mapa del Recinto
        </a> &nbsp;|&nbsp;
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="https://portal.office.com/">
          Correo Electrónico
        </a> &nbsp;|&nbsp;
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="http://www.arecibo.inter.edu/directorio-telefonico/">
          Directorio Telefónico
        </a> &nbsp;|&nbsp;
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="http://www.arecibo.inter.edu/wp-content/uploads/portal/pdf/directorio_telefonico_arecibo.pdf">
          Directorio Telefónico (pdf)
        </a> &nbsp;|&nbsp;
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="http://www.inter.edu">
          Oficina Central del Sistema
        </a> &nbsp;|&nbsp;
        <a class="text-footer-grey-dark text-sm no-underline hover:text-white hover:underline" href="http://interespr.com/">
          Revista INTERes
        </a>
    </div>
    <p class="container mx-auto text-footer-grey-dark py-4 text-xs text-justify">
      © 2018 | La Universidad Interamericana de Puerto Rico posee Licencia de Renovación del Consejo de Educación
      de Puerto Rico (CEPR) y todos los programas académicos, incluyendo los programas online, están autorizados
      por dicha agencia. La Universidad Interamericana está acreditada por la Middle States Commission on Higher
      Education (MSCHE), 3624 Market Street, Philadelphia, PA 19104 (267-284-5000). La MSCHE es una agencia de
      acreditación institucional reconocida por el Secretario de Educación de los Estados Unidos de Norteamérica
      y por el Council on Higher Education Accreditation (CHEA).
    </p>
</footer>