---
layout: default
---
<!--<div class="chart h-hero-min md:h-hero lg:h-hero-max mb-10" id="{{page.chart}}"></div>-->
<div class="mt-5 text-left">
  <h1 class="font-sans">{{page.title}}</h1>
  <h5 class="text-grey-darke font-serif">Por {{page.author}}, {{ page.date | date_to_string }} {% if page.update
    %}(Actualizado: {{ page.update | date_to_string }}){% endif %}</h5>
</div>

<hr class="border block my-5">

{% if page.chart %}
<div class="chart h-hero-min md:h-hero lg:h-hero-max" id="{{page.chart}}"></div>

<hr class="border block my-5">
<script defer src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script defer src="https://code.highcharts.com/highcharts.js"></script>
<script defer src="https://code.highcharts.com/modules/exporting.js"></script>
<script defer src="https://rawgit.com/larsac07/Motion-Highcharts-Plugin/master/motion.js"></script>
<script defer src="https://erduprojectarecibo.github.io/resources/js/chartscript.js"></script>
{% endif %}
<div class="font-serif">
  {{content}}
</div>